name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies and build
        run: |
          yarn install
          yarn build
          # Check that the template didn't change
          if ! git diff --quiet; then
            echo "âŒ The generated template (template.tpl) that was committed is different from the generated template. Please run yarn build and commit the changes."
            exit 1
          fi

      - name: Lint metadata.yaml
        id: lint-metadata
        run: |
          npx yaml-lint metadata.yaml

      - name: Lint and Tests
        run: |
          yarn lint
          yarn test
